// CARD BANNER SECTION
.card {
    .banner {
        width: 100%;
        max-height: 40px;
        border-radius: $radius $radius 0em 0em;
        overflow: hidden;
        img {
            margin-right: 1.5em;
            display: block;
            margin-left: auto;
            object-position: 0 -5px;
        }
    }
}

#work-banner, #work {
    background-color: $clr-work;
}

#play-banner, #play {
    background-color: $clr-play;
}

#study-banner, #study {
    background-color: $clr-study;
}

#exercise-banner, #exercise {
    background-color: $clr-exercise;
}

#social-banner, #social {
    background-color: $clr-social;
}

#self-care-banner, #self-care {
    background-color: $clr-self-care;
}

// CARD DETAILS SECTION

.card {
    border-radius: $radius;
}

.card-details {
    background-color: $clr-dark-blue;
    
    color: white;

    padding: 1.5em;

    border-radius: $radius;
    .card-title {
        display: flex;
        align-items: center;
        width: 100%;
        img {
            margin-left: auto;
            width: 20px;
            height: 5px;
        }
        h3 {
            font-weight: normal;
        }
    }
    .card-content {
        display: flex;
        align-items: center;
        .total-hours {
            font-size: 2em;
            font-weight: lighter;
        }
        .previous-hours {
            font-weight: lighter;
            margin-left: auto;
            color: $clr-pale-blue;
            font-size: 0.9em;
        }
    }
}