@mixin gridAreaName($name) {
    grid-area: $name;
}

.grid-layout {
    display: grid;
    gap: 2em;

    width: 80%;
    margin: 10vh auto;
}

@media screen and (min-width: 1024px) {
    .grid-layout {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #profile {
        grid-area: 1 / 1 / 3 / 1;
    }
}