@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

@import 'variables';
@import 'grid';
@import 'profile-card';
@import 'cards';

*, *::after, *::before {
    margin: 0;
}

body {
    font-family: $font-rubik;
    background-color: $clr-very-dark-blue;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 18px;
}

img {
    max-width: 100%;
}

@media screen and (min-width: 1024px) {
    body {
        width: 100%;
        height: 100vh;
        
        display: grid;
        place-items: center;
    }
}